{:deps
 {:aliases [:dev]}

 :builds
 {:main        {:target            :browser
                :output-dir        "resources/public/js/main"
                :asset-path        "/js/main"
                :module-hash-names true
                :modules           {:main {:init-fn dv.fulcro-re-frame.play.client.client-entry/init
                                           :entries [dv.fulcro-re-frame.play.client.client-entry]}}
                ;; guardrails checks only during dev
                :dev               {:compiler-options {:external-config {:guardrails {}
                                                                         :fulcro     {:wrap-inputs? false}}}
                                    :closure-defines  {dv.fulcro-re-frame.play.client.application/LOG-RESPONSES true
                                                       dv.fulcro-re-frame.play.client.client-entry/LOG_LEVEL    "debug"}}
                :devtools          {:after-load dv.fulcro-re-frame.play.client.client-entry/refresh
                                    :preloads   [;; if using the chrome extension:
                                                 com.fulcrologic.fulcro.inspect.preload

                                                 ;; if using the electron app:
                                                 ;com.fulcrologic.fulcro.inspect.websocket-preload

                                                 dv.fulcro-re-frame.play.client.development-preload
                                                 com.fulcrologic.fulcro.inspect.dom-picker-preload]
                                    :http-port 8021
                                    :http-resource-root "public"
                                    :http-root          "resources/public/"
                                    }}
}}
